.dashboard-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 450px 500px;
    grid-template-areas: 
        "header header"
        "sunburst scatterplot"
        "temporal temporal";
    width: 100%;
    gap: 10px;
    padding: 15px;
    box-sizing: border-box;
    padding-bottom: 50px;
}

/* Area Assignments */
.header { grid-area: header; }
.view-sunburst { grid-area: sunburst; }
.view-scatterplot { grid-area: scatterplot; }
.view-temporal { grid-area: temporal; }

@media (max-width: 1000px) {
    .dashboard-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto 450px 450px 500px;
        grid-template-areas: 
            "header"
            "sunburst"
            "scatterplot"
            "temporal";
    }
}