.view-streamgraph {
    overflow: hidden;
}

#temporal-container {
    flex-grow: 1;              
    min-height: 0;             
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.layer {
    stroke: none;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.layer:hover {
    stroke: var(--text-color);
    stroke-width: 0.5px;
}